* {
	font-family: 'Roboto', sans-serif;;
  font-weight: 300;
}

.jumbo {
  max-width: 800px;
  margin: 0 auto;
  background: rgba(230, 230, 230, 0.5);
  border-radius: 10px;
  padding: 15px;
}

body {
	text-align: center;
  background: url('images/background.jpg');
  background-size: cover;
  color: black;
}

.profile_pic {
	height: 150px;
	width: 150px;
  border: 8px solid #D3D3D3;
}


/*Styles for container*/
	.container {
		max-width: 600px;
    height: 500px;
    margin: 0 auto;
    background: rgb(230, 230, 230);
    padding: 10px;
    border: 3px double black;
    border-radius: 0px;
	}

  /*Styles for navigation bar*/
  #aboutMe, #curriculumV, #lastThing {
    display: inline;
    height: 40px;
    width: 200px;
    margin: 5px;
    padding: 5px;

  }
  span {
    border-left: 1px solid #000;
  }

	.selected {

	}
	.not_selected {

	}

	.about_me {

	}
	.curriculum {

	}
	.last_thing {

	}
	.under_dev {

	}

	.show {
    background-color: black;
	}
	.hide {
		display: none;
    background-color: white;
	}



