* {
	font-family: lato;
	text-align: center;
}

body {
	background-image: url("images/background.jpg");
	background-position: center;
}

.profilePic {
	display:;
	height: 150px;
	width: 150px;	
}


/*Styles for container*/
	.container {
		
	}

	.nav_buttons {

	}
	.selected {

	}
	.not_selected {

	}

	.about_me {

	}
	.curriculum {

	}
	.last_thing {

	}
	.under_dev {

	}

	.show {
		display: inline;
	}
	.hide {
		display: none;
	}

